{
	email {$ACME_EMAIL}
}

{$TUTS_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	request_body {
		max_size 25MB
	}
	handle /api/* {
		reverse_proxy gateway:8080 {
			header_up X-Real-IP {remote_host}
		}
	}
	handle {
		reverse_proxy web:3000
	}
}
