[Unit]
Description=Tuts databases and learning files backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/tuts/current/infra/production/backup.sh
User=root
UMask=0077
